<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UserCon" connectionString="data source=CLDAZRDIGDEV04;initial catalog=signalR-webservice;user id=sa;password=*tarwars2651UK;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>